/*goodluck*/ 

body {
    background-image: url(../assets/ttcbg.png);
    background-size: cover;
    /* background-color: #F8F0D2; */
    font-family: 'Lalezar', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}
section {
    background-color: #fff;
    width: 500px;
    height: 300px;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p{
    margin-top: -2em;

}
.name{ 
    color: #8F7A65;
    font-size: 4em;
    margin: 25px 0px 0px 35px
}
.age {
    margin: 0px 0px 0px 35px;
    font-size: 6em;
    background-color: #69CAD2;
    border-radius: 20px;
    padding: .05em .25em;
    color: white;
    display: inline-block;
    span {
        position: relative;
        top: 4px;
    }
}
.time {
    font-size: 3.5em;
    color: #8F7A65;;
}
.flip-card-bt {
    background-color: #F8C0BF;
    color: white;
    border-radius: 2em;
    min-width: 50px;
    text-decoration: none;
}
:target {
    background: #ffffff;
}