/*goodluck*/ 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/photo-1519638399535-1b036603ac77.avif);
    background-size: cover;
    /* background-color: #FFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

article {
    width: 350px;
    height: 450px;
    background-color: #EAEAEA;
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* animation: mymove 7s infinite; */
}
/* @keyframes mymove {
  50% {box-shadow: 10px 20px 30px #38D8D2;}
} */

img {
    margin-top: 0px;
    border-radius: 2em;
}
.button1{
    background: #35cbc6;
    border-radius: 1.5em;
    border : 0px solid black;
    margin: 15px 0px 10px 0px ;
}
.button2 {
    font-size: 15px;
    background-color: #35cbc6;
    border-radius: 1.5em;
    border : 0px solid black;
    margin : 10px;
    width: 250px;
    height: 35px;
    color: white;
    font-weight:bold;
}





